.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.img {
    max-width: 100%;
    height: auto;
    border-style: none;
    vertical-align: middle;
    border-style: none;
}
